.listaTarefasContainer{
    margin-top: -1.6rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criarTarefaForm{
    width: 100%;
    display: flex;

    gap: 0.5rem;
}

.criarTarefaForm input{
   background: var(--gray-500);
   outline: none;
   border: 1px solid var(--gray-700);
   border-radius: 8px;

   padding: 1rem;
   color: var(--gray-300);

   flex: 1;
}

.criarTarefaForm button[type=submit]{
    color: var(--gray-100);
    border: none;
    outline: none;
    background: var(--blue-500);
    padding: 1rem;

    border-radius: 8px;

    font-weight: bold;

    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1;

}

.criarTarefaForm button[type=submit] svg{
    margin-left: 0.5rem;
}

.cabecalhoLista{
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 0.875rem;
    font-weight: bold;

    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.cabecalhoLista strong:first-child{
    color: var(--blue-100);
}

.cabecalhoLista strong:last-child{
    color: var(--purple-100);
}

.cabecalhoLista .badge{
    padding: 2px 8px;
    background: var(--gray-400);
    border-radius: 8px;
    color: var(--gray-200);
    margin-left: 0.5rem;
}

.listaTarefas{
    width: 100%;
}

.listaTarefas .tarefa{
    background: var(--gray-500);
    border: 1px solid var(--gray-400);

    padding: 1rem;

    border-radius: 8px;

    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.listaTarefas .tarefa .infoTarefa{
    display: flex;
    align-items: center;
}

.listaTarefas .tarefa .infoTarefa p{
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 1;

    margin-left: 0.5rem;
}

.listaTarefas .tarefa .infoTarefa svg{
    color: var(--blue-100);
}

.listaTarefas .finalizada{
    opacity: 0.7;
    text-decoration: line-through;
}

.botaoRemover{
    color: var(--gray-300);
    border: none;
    outline: none;
    background: transparent;

    cursor: pointer;
}

.botaoRemover svg{
    color: var(--gray-300);
    
    transition: color 0.2s;
}

.botaoRemover:hover svg{
    color: var(--red-500);
}

.listaTarefasVazia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem 1.5rem;

    font-size: 1rem;

    border-top: 1px solid var(--gray-300);
    border-radius: 8px;
}

.listaTarefasVazia svg{
    margin-bottom: 1rem;
}

.listaTarefasVazia h4,
.listaTarefasVazia p{
    line-height: 1.4;
}
